<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="historyMapper">
  	
  	<select id="selectHistory" parameterType="string" resultType="History">	
  		SELECT REF_MID,
  			   SEARCH_CONTENT,
  			   TO_CHAR(H_DATE,'FMMM.FMDD') "H_DATE"
  		FROM HISTORY
  		WHERE REF_MID = #{memId}
  		ORDER BY HISTORY.H_DATE DESC 	    		
		<!-- 검색을 하는 것이므로 가장 최근에 검색한걸 맨위로 나오게 하자.--> 
  		<!-- 외래키로 연결 됐으니까 memId를 참조해야한다. -->
  		<!-- TO_CHAR(H_DATE,'FMMM.FMDD') "H_DATE"
  			 이렇게 작성한 이유는 1월 1일 같은 경우는 01.01로 표기된다. 0을 없애기 위함이다.
  			 
  			 또한 프로젝트 발표날짜가 1월 2일이기 때문에 1.2로 표현하는게 깔끔하다. 
  			 
  			 여기서 ORDER BY H_DATE DESC로 하면 안된다. 그럼 문자열 형태라 순서가 깨진다.
  			 
  			 따라서 위처럼 ORDER BY HISTORY.H_DATE DESC 로 바꾼다. 
  		 -->
  	</select>
  	
  	<!-- 검색 히스토리에 내용 넣는 구문 -->
  	<insert id="insertContent" parameterType="map">
  		INSERT INTO HISTORY(REF_MID,
  							SEARCH_CONTENT)
		VALUES(#{memId},#{keyword})  	
		
		<!--hDate는 어차피 디폴트값이 SYSDATE니까 상관 없다.-->						
  	</insert>
  	
  	<!-- 키워드를 포함한 주차장이 몇개 있는지를 조회하는 구문 -->
  	<select id="searchListCount" parameterType="string" resultType="int">
  		SELECT COUNT(*)
  		FROM PARKINGLOT
  		WHERE P_NAME LIKE '%' || #{keyword} || '%'
  		AND STATUS = 'Y'	
  	</select>
  	
  	<!-- 검색 내용란에 있는 키워드를 포함한 주차장들을 나오게 하는 구문 -->
  	<select id="searchParking" parameterType="string" resultMap="parkingResultSet">
  		SELECT P_NO,
  			   P_NAME,
  			   LOCATION_X,
  			   LOCATION_Y,
  			   P_TOTAL,
  			   P_CURRENT,
  			   OPENTIME,
  			   CLOSETIME,
  			   PRICE,
  			   PRICE_TIME,
  			   PHONE,
  			   STATUS
  		FROM PARKINGLOT
  		WHERE P_NAME LIKE '%' || #{keyword} || '%'    
  		ORDER BY P_NO ASC
  	</select>
  	
  	<!-- 검색 버튼을 누르기전에 키워드를 검색 내용란에 넣으면 키워드를 포함하면서 데이터베이스에 등록된 주차장 목록을 미리 보여준다. (이름만) -->
  	<select id="searchKeywordParking" parameterType="string" resultMap="parkingResultSet">
  		SELECT P_NAME
  		FROM PARKINGLOT
  		WHERE P_NAME LIKE '%' || #{keyword} || '%'
  		ORDER BY P_NO ASC
  	</select>
  	
  	<!-- 사용자가 키워드를 바탕으로 검색 했는데 검색 히스토리에 있는 내용과 일치하면 중복된다. 중복 체크 구문 -->
  	<select id="checkContent" parameterType="map" resultType="int">
  		SELECT COUNT(*)
  		FROM HISTORY
  		WHERE SEARCH_CONTENT = #{keyword}
  		AND REF_MID = #{memId} 
  	</select>
  	
  	<!-- 검색 히스토리 내용과 검색 내용이 일치는 하지만 검색했을때의 시점만 바꾸는 구문 -->
  	<update id="updatehDate">
  		UPDATE HISTORY
  		SET H_DATE = SYSDATE
  		WHERE SEARCH_CONTENT = #{keyword}
  		AND REF_MID = #{memId}  		 
  	</update>
  	
  	
  	<resultMap id="parkingResultSet" type="ParkingLot">

	    <!-- 1. PK (기본키) : 맨 위에 작성 -->
	    <id column="P_NO" property="parkingNo" />
	
	    <!-- 2. 일반 컬럼들 -->
	    <result column="P_NAME"      property="parkingName" />
	
	    <!-- 좌표 연결 -->
	    <result column="LOCATION_X"  property="location_X" />
	    <result column="LOCATION_Y"  property="location_Y" />
	
	    <!-- 주차 공간 정보 -->
	    <result column="P_TOTAL"     property="total" />
	    <result column="P_CURRENT"   property="current" />
	
	    <!-- 운영 시간 -->
	    <result column="OPENTIME"    property="openTime" />
	    <result column="CLOSETIME"   property="closeTime" />
	
	    <!-- 요금 정보 -->
	    <result column="PRICE"       property="price" />
	    <result column="PRICE_TIME"  property="priceTime" />
	
	    <!-- 기타 -->
	    <result column="PHONE"       property="phone" />
	    <result column="STATUS"      property="status" />

	</resultMap>
  	
  	
  
</mapper>